{% extends 'syakkuri/base.html' %}

{% block content %}

    <main class="mb-5" style="padding-top: 35px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 mt-2">
                    <input class=slider type="range" value="3" min="1" max="10" step="1"
                    oninput="document.getElementById('output').value=this.value">

                    <output id="output">3</output><span>回</span>
                </div>
            </div>
            
            <div class="row">
                <div class="box mx-auto" style="width: 100px;"></div>
            </div>

            <div class="row">
                <h1 class="display-6 text-center">
                    <p class='text'>　</p>
                </h1>
            </div>

            <div class="row">
                <div class="container text-center">
                        <button class="btn btn-light">開始する</button>
                        <button id="finish" class="btn_finish btn btn-light">終了</button>
                </div>
            </div>

        </div>
    </main>

{% endblock content %}